@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
}

header {
  padding: 10px;
  border-bottom: 1px solid rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo img {
  width: 40px;
  margin-right: 5px;
}

nav {
  width: 30%;
  margin-right: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: black;
}

nav a:hover {
  color: rgb(88, 158, 215);
}

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}

.last-update {
  background-color: rgb(250, 250, 211);
  text-align: center;
  padding: 3px;
  border: 1px solid rgb(220, 220, 185);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

/* HOME */

#blue {
  color: rgb(70, 126, 171);
  font-weight: 500;
  letter-spacing: 1px;
}

.home-heading h1 {
  font-weight: 500;
  letter-spacing: 1px;
}

.home-example {
  background-color: aliceblue;
  border: 1px solid rgb(200, 213, 225);
  padding: 20px;
  margin-top: 20px;
}

.example {
  background-color: white;
  padding: 10px;
}

#gold {
  color: rgb(198, 178, 19);
  font-weight: 500;
  letter-spacing: 1px;
}

#green {
  color: rgb(65, 182, 65);
  font-weight: 500;
  letter-spacing: 1px;
}

.home-featured {
  margin-top: 30px;
}

.featured-projects {
  margin-top: 20px;
}

.project {
  background-color: aliceblue;
  border: 1px solid rgb(190, 204, 217);
  width: 100%;
  padding: 10px;
  color: black;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
}

.project img {
  width: 35px;
}

.project:hover {
  transform: scale(1.01);
}

/* PROJECTS */

.project-cont {
  margin-bottom: 20px;
}

.card-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  min-width: 350px;
  height: 200px;
  overflow: hidden;
  background-image: url();
  position: relative;
  border-radius: 20px;
  border: 2px solid rgb(145, 145, 145);
}

.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 15px;
  bottom: 0;
  color: transparent;
  transition: all 0.3s ease;
}

.overlay h3 {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
}

.overlay p {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* NOTES */

.notes-cont2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.note {
  background-color: aliceblue;
  border: 1px solid rgb(198, 212, 223);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
  color: black;
}

.note img {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.note:hover {
  transform: scale(1.01);
}

.note-left {
  display: flex;
  align-items: center;
}

/* ABOUT */

.about-example {
  background-color: aliceblue;
  padding: 20px;
}

.example-inner {
  background-color: white;
  padding: 20px;
}

/* project-pages */

.projectName {
  margin: 20px 0px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.projectName a {
  color: rgb(70, 126, 171);
}

.projectName h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.leftside {
  background-color: aliceblue;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
  width: 59%;
}

.rightside {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
  width: 39%;
}

.rightside img {
  width: 100%;
  border-radius: 10px;
}

.rightside-buttons button {
  border: 1.5px solid rgb(189, 189, 189);
  background-color: transparent;
  padding: 5px 10px;
  margin-top: 10px;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
}

.rightside-buttons button:hover {
  border: 1.5px solid rgb(135, 135, 135);
}
