.chess-piece{
  width: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  flex-direction: column;
}

#gameBoard{
  display: flex;
}

.square{
  width: 200px;
  height: 200px;
}

.beige{
  background-color: rgb(277,277,199);
}

.brown{
  background-color: rgb(96,54,54);
}

#info{height: 30px;}