@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

body{
  background-color: rgb(238, 214, 134);
}

.intro-text{
  margin-bottom: 20px;
}

.accordianContainer{
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 0 auto;
  width: 85%;
  max-width: 600px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.accordian{
  background-color: rgb(235, 235, 235);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.accordian p{
  padding-top: 10px;
}

.accordian .question{
  display: flex;
  justify-content: space-between;
}

.hidden{
  display: none;
}