@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

body{
  background-color: rgb(240, 240, 240);
}

.accordianContainer{
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 85%;
  max-width: 600px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.accordian{
  background-color: rgb(249, 249, 249);
  padding: 20px;
}

.accordian .question{
  display: flex;
  justify-content: space-between;
}

.hidden{
  display: none;
}