*{
  box-sizing:  border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #b5aaf5;
}

.container{
  font-family: "poppins", sans-serif;
  background-color: #ffffff;
  padding: 3em 2em;
  width: 90%;
  max-width: 37em;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 0.8em;
}
