*{
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #595DB8;
}

.sortable-list{
  background: #fff;
  width: 445px;
  border-radius: 6px;
  padding: 30px 25px 20px;
}

.sortable-list .item{
  list-style: none;
  display: flex;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 11px;
  padding: 10px 13px;
  justify-content: space-between;
}

.item.dragging{
  opacity: 0.5;
}