@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  color: #e7e5e4;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #1c1917;
  padding: 20px;
}

#currentTime {
  font-weight: 200;
}

main {
  width: 90%;
  margin: 0 auto;
}

header {
  text-align: right;
  font-size: 1.5rem;
}

.Heading {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0px;
}

.Heading h1 {
  line-height: 100%;
  font-weight: 200;
  font-size: 3rem;
}

.Heading img {
  width: 80px;
}

.Heading p {
  font-size: 17px;
  line-height: 100%;
  font-weight: 200;
  margin-top: 10px;
}

.taskContainer {
  background-color: #d0d0d0;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  height: 400px;
  border-radius: 50px;
  padding: 50px;
  overflow: scroll;
}

.taskContainer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskContainer li {
  background-color: #201d1d;
  border-radius: 25px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
}

.taskContainer img {
  width: 30px;
}

#RemoveItem {
  font-size: 30px;
  cursor: pointer;
}

.item {
  font-weight: 200;
  cursor: pointer;
}

#ViewPrevious {
  background-color: #450a0a;
  border: 1px solid #711111;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.cross {
  text-decoration: line-through !important;
}

input {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  border: 2px solid #450a0a;
  border-radius: 20px;
  color: #450a0a;
}
